html,
body {
  border: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.childbox {
  padding: 3vw;
  border-bottom: 1px solid;
  margin: 5px;
}
.parallax {
  top: 0;
  background-image: url("images/yeosulee.jpeg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 55vh;
}
#hello {
  color: whitesmoke;
  font-size: 10vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10vw;
}

#topbox {
  background-color: rgba(0, 0, 0, 0.838);
  font-size: 3vw;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}
