html,
body {
  border: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.childbox {
  padding: 3vw;
  border-bottom: 1px solid;
  margin: 5px;
}
.parallax {
  content: " ";
  display: block;
  background-image: url("images/yeosulee.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10; // This is pretty important.
}
#hello {
  color: white;
  font-size: 10vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10vw;
  height: 50vh;
}
#hello2 {
  text-align: center;
  color: white;
  font-size: 10vw;
  display: flex;
  position: absolute;
  top: 100vw;
  height: 50vh;
  width: 100vw;
}

#topbox {
  background-color: rgba(0, 0, 0, 0.838);
  font-size: 3vw;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0vh;
  z-index: 2;
}
#leraground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0vh;
}
